Package: chaoge.jbdevtest
Name: JBDev
Version: 1.0
Architecture: iphoneos-arm64
Description: JBDev rootless example
Maintainer: chaoge
Author: chaoge
Section: Apps
Depends: mobilesubstrate (>= 0.9.5000)
